/**
 * 全局css样式，可以兼容多端
 */
.brand{
    color: $gl-brand;
}
.primary{
    color: $gl-primary;
}
.metal{
    color: $gl-metal;
}
.success{
    color: $gl-success;
}
.warning{
    color: $gl-warning;
}
.info{
    color: $gl-info;
}
.focus{
    color: $gl-focus;
}
.light{
    color: $gl-light;
}
.accent{
    color: $gl-accent;
}
.danger{
    color: $gl-danger;
}